body,
html {
  padding: 0;
  margin: 0;
  background-color: $pink;
}
header {
  position: relative;
  padding: 3em 10% 10em;
  background-color: $pink;
  &.sub {
    padding-bottom: 5em;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
  }

  .top {
    position: relative;
    z-index: 2;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4em;
    p {
      color: $white;
      margin-right: 3em;
    }
    .social-link {
      vertical-align: middle;
      a {
        display: inline-block;
        margin-left: 2em;
        &:first-child {
          margin-left: 0;
        }
      }
      svg {
        height: 20px;
        width: auto;
      }
    }
  }
  .nav {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 15%;
      img {
        height: 45px;
        width: auto;
      }
    }
    nav {
      width: 70%;
      margin-right: 15%;
      text-align: center;
      ul,
      li {
        display: inline-block;
      }
      li {
        margin: 0 1.5em;
        a {
          text-decoration: none;
          color: $white;
          font-size: 14px;
          font-weight: 700;
          padding: 5px 0;
          opacity: 0.8;
          &:hover,
          &:active {
            opacity: 1;
            border-bottom: 1px dashed $white;
          }
        }
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1440px) {
    padding: 3em 10% 7em;
    .nav {
      justify-content: space-between;
      .logo {
        width: 20%;
      }
      nav {
        width: 80%;
        margin-right: 0;
        text-align: right;
        li {
          margin-right: 0;
          margin-left: 2.5em;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    padding-bottom: 6em;
    .top {
      display: none;
    }
    .nav {
      justify-content: center;
      .logo {
        width: 100%;
        text-align: center;
        margin-top: 2em;
      }
      nav {
        display: none;
      }
    }
  }
}
footer {
  background-color: $deepblue;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4em 10% 10em;
  .logo {
    width: 20%;
    img {
      width: auto;
      height: 40px;
      display: block;
    }
    label {
      font-size: 12px;
      color: $white;
      text-transform: uppercase;
      letter-spacing: 0.16em;
    }
  }
  .links {
    width: 60%;
    margin-right: 20%;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    ul {
      max-width: 35%;
      margin: 1em;
      li {
        color: $white;
        font-size: 13px;
        line-height: 175%;
        strong {
          display: inline-block;
          text-transform: uppercase;
          font-weight: 700;
          margin-bottom: 10px;
        }
        a {
          text-decoration: none;
          color: $white;
          &:hover {
            text-decoration: underline;
            text-decoration-style: dashed;
          }
        }
      }

      &.social-links {
        min-width: 160px;
        li a {
          margin-right: 1.5em;
          svg {
            width: auto;
            height: 20px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    .logo {
      width: 100%;
      text-align: center;
      margin-bottom: 2em;
      img {
        height: 40px;
        width: auto;
        margin: 0 auto;
      }
    }
    .links {
      width: 100%;
      margin-right: 0;
      flex-direction: column;
      ul {
        max-width: none;
        text-align: center;
        &.social-links {
          min-width: 0;
          width: auto;
          margin: 1em auto;
          li a {
            margin-right: 1em;
            margin-left: 1em;
          }
        }
      }
    }
  }
}

main {
  background-color: $beige;
  /* INTRO */
  #intro {
    position: relative;
    background-color: $beige;
    padding: 0em 33% 20em;
    text-align: center;
    z-index: 5;
    color: $white;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: -8px;
      bottom: 0;
      right: 10%;
      z-index: 1;
      border-radius: 0 0 8px 0;
      background-color: $pink;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 10%;
      height: 50%;
      background-color: $pink;
      background-image: url("../img/shadow.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
    .info {
      position: relative;
      z-index: 4;

      .title {
        font-size: 26px;
        line-height: 140%;
        font-weight: 400;
      }
      h1 {
        font-size: 94px;
        line-height: 106%;
        font-weight: 700;
        margin-bottom: 35px;
      }
      p {
        font-size: 16px;
        line-height: 140%;
      }

      .links {
        margin-top: 4em;
        .btn {
          margin: 0 0.5em;
        }
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1440px) {
      padding: 0em 26% 20em;
      .info {
        .title {
          font-size: 20px;
        }
        h1 {
          font-size: 86px;
        }
      }
    }

    @media screen and (max-width: 768px) {
      background-color: $pink;
      padding: 0 25px;
      &:before,
      &:after {
        display: none;
      }
      .info {
        .title {
          font-size: 20px;
          margin-bottom: 5px;
        }
        h1 {
          font-size: 54px;
          margin-bottom: 25px;
        }
        .links {
          display: inline-flex;
          flex-direction: column-reverse;
          margin-bottom: 2em;
          .btn {
            display: inline-block;
            margin-bottom: 1em;
            width: auto;
          }
        }
      }
    }
  }

  /* REQUIREMENT */
  #requirement {
    position: relative;
    margin-top: -150px;
    z-index: 10;
    padding-top: 280px;
    .banner {
      position: absolute;
      left: 0;
      top: 0;
      background-color: $blue;
      padding: 1em;
      box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.25);
      border-radius: 0 8px 8px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 45%;
      img {
        height: 240px;
        width: auto;
      }
      .info {
        margin-left: 3em;
        color: $white;
        padding-right: 3em;
        h4 {
          font-size: 20px;
          line-height: 140%;
          margin-bottom: 1em;
        }
        p {
          font-size: 14px;
          line-height: 150%;
          margin-bottom: 2em;
        }
        .btn {
          color: $pink;
        }
      }
      @media screen and (max-width: 768px) {
        position: relative;
        border-radius: 0;
        width: 100%;
      }

      @media screen and (max-width: 480px) {
        flex-direction: column;
        padding-bottom: 4em;
        img {
          max-width: 100%;
          height: auto;
          margin-bottom: 3em;
        }
      }
    }

    .donating,
    .knowing {
      position: relative;
      padding: 12em 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .image {
        position: absolute;
        right: 0px;
        top: -5%;
        width: 45%;
        height: 940px;
        overflow: hidden;
        .art {
          position: absolute;
          right: -15%;
          bottom: 0;
          width: 100%;
          height: auto;
          z-index: 3;
        }
        .asset {
          position: absolute;
          right: -15%;
          bottom: 0;
          width: 100%;
          height: auto;
          z-index: 4;
        }
      }
      .info {
        width: 45%;
        padding-left: 10%;
        padding-right: 4em;
        margin-top: 5em;
        label {
          font-size: 16px;
          color: $blue;
        }
        h2 {
          font-size: 44px;
          line-height: 110%;
          font-weight: 700;
          padding-bottom: 30px;
          &::before {
            width: 15%;
          }
        }
        p {
          margin-top: 2em;
          font-size: 16px;
        }
      }
    }

    .knowing {
      flex-direction: row-reverse;
      align-items: flex-end;
      margin-top: 250px;
      padding: 0;
      .info {
        width: 50%;
        padding-left: 1em;
        padding-right: 14%;
        margin-top: 4em;
        h4 {
          font-size: 18px;
          font-weight: 700;
          margin-top: 1.4em;
          margin-bottom: 0.5em;
        }
        ul {
          list-style: none;
          margin-bottom: 4em;
          li {
            margin-bottom: 1em;
            font-size: 16px;
            position: relative;
            padding-left: 40px;
            &:before {
              content: "";
              position: absolute;
              left: 0;
              top: 10px;
              height: 8px;
              width: 20px;
              background-color: $pink;
            }
          }
        }

        .btn-link {
          color: $pink;
          margin-left: 2em;
        }
      }
      .image {
        position: absolute;
        width: 50%;
        left: 0px;
        height: 920px;
        .art {
          position: absolute;
          left: -25%;
          top: 0;
          bottom: 0;
          height: 100%;
          width: auto;
        }
        .asset {
          position: absolute;
          left: 0px;
          bottom: auto;
          top: 5%;
          width: 85%;
          height: auto;
          z-index: 4;
        }
      }
    }
    @media screen and (min-width: 768px) and (max-width: 1440px) {
      .banner {
        width: 55%;
      }
      .donating,
      .knowing {
        padding: 5em 0;
        .info h2 {
          font-size: 38px;
        }
      }
      .donating {
        .image {
          top: -20%;
        }
        .info {
          padding-right: 1em;
        }
      }

      .knowing {
        padding: 0;
        .image {
          height: 700px;
        }
        .info {
          width: 55%;
          padding-left: 2em;
          padding-right: 10%;
          margin-top: 0;
        }
      }
    }

    @media screen and (max-width: 768px) {
      margin-top: 0;
      padding-top: 0;
      .donating {
        flex-direction: column-reverse;
        padding-top: 3em;
        .image {
          position: relative;
          left: 0;
          right: 0;
          top: 0;
          width: 95%;
          margin: 0 auto;
          height: 525px;
          overflow: visible;
          .art,
          .asset {
            left: 0;
            right: 0;
          }
        }
        .info {
          width: 100%;
          margin-top: 4em;
          padding: 0 2em;
        }
      }

      .knowing {
        flex-direction: column-reverse;
        padding-top: 3em;
        margin-top: 0;
        padding-top: 0;
        .image {
          position: relative;
          left: 0;
          right: 0;
          top: 0;
          width: 100%;
          margin: 0 auto 2em auto;
          height: 450px;
          overflow: visible;
          .art {
            height: 105%;
            left: -15%;
            right: auto;
          }
          .asset {
            width: 90%;
            left: 5%;
            right: 5%;
            border-radius: 20px;
          }
        }
        .info {
          width: 100%;
          margin-top: 4em;
          padding: 0 2em;
          h4 {
            text-align: center;
          }
          .links {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .btn-link {
              margin-top: 2em;
              margin-left: 0;
            }
          }
        }
      }
    }
  }

  /* COMPENSATION */
  #compensation {
    padding: 20em 0 5em 0;

    .metric {
      background-color: $blue;
      border-radius: 8px;
      box-shadow: 0px 14px 14px rgba(20, 35, 110, 0.21);
      padding: 4em 2em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      margin: 0 auto;
      p {
        display: inline-flex;
        align-items: center;
        margin: 0 10px;
        color: $white;
        line-height: 120%;
        span {
          font-size: 15px;
          font-weight: 700;
        }
        .icon {
          margin-right: 15px;
        }
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1440px) {
      padding: 14em 0 5em 0;
      .metric {
        width: 80%;
      }
    }

    @media screen and (max-width: 768px) {
      padding: 8em 2em;
      .metric {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 3em;
        p {
          margin: 1em 0;
        }
      }
    }
  }

  /* DONATION PROCESS */
  #donation-process {
    padding: 2em 10%;
    .info {
      text-align: center;
      width: 55%;
      margin: 0 auto 6em auto;

      label {
        font-size: 16px;
        color: $blue;
      }
      h2 {
        font-size: 44px;
        line-height: 110%;
        font-weight: 700;
        padding-bottom: 30px;
        &::before {
          width: 15%;
          left: 42.5%;
        }
      }
      p {
        font-family: "Poppins";
        font-weight: 300;
        margin-top: 1em;
        font-size: 20px;
        line-height: 145.5%;
      }
    }

    .steps {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 8em;
      .item {
        display: inline-flex;
        align-items: flex-start;
        margin: 0 0.5em;
        width: calc(33.3% - 2em);
        img {
          width: auto;
          height: 125px;
        }
        div {
          margin-top: 2em;
          margin-left: 1em;
          h4 {
            color: $pink;
            text-transform: capitalize;
            font-weight: 700;
            font-size: 22px;
            font-weight: 110px;
          }
          p {
            font-size: 15px;
            line-height: 180%;
          }
        }
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1440px) {
      padding: 2em 5%;
      .info {
        h2 {
          font-size: 36px;
        }
        p {
          font-size: 17px;
        }
      }
    }
    @media screen and (max-width: 768px) {
      padding: 2em;
      .info {
        text-align: left;
        width: 100%;
        h2:before {
          left: 0;
        }
      }
      .steps {
        flex-direction: column;
        .item {
          width: 100%;
          padding-right: 2em;
          margin-bottom: 2em;
        }
      }
    }
  }

  /* FAQ */
  #faq {
    padding: 3em 2.5em 6em 2.5em;
    h2 {
      font-size: 38px;
      line-height: 110%;
      font-weight: 700;
      padding: 1em 0 2em;
      text-align: center;
    }
    .faq-list {
      max-width: 800px;
      margin: 0 auto;
      .item {
        margin-bottom: 2em;
        h4 {
          font-size: 24px;
          line-height: 45px;
        }
        p {
          font-size: 16px;
          opacity: 0.9;
        }
        a {
          font-size: 16px;
          color: $pink;
        }
        ul {
          list-style: square;
          margin: 15px 0 15px 1.2em;
          li {
            font-size: 16px;
            opacity: 0.9;
            margin-bottom: 5px;
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      h2 {
        font-size: 28px;
        text-align: left;
      }
    }
  }
}
