@include selection($selection-bg: #333, $selection-c: #fff, $selection-ts: none);

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
}
body {
  font: 300 13px/1.6 "Helvetica Neue", Helvetica, Arial;
  background: #fff;
  color: #444;
}
.lined {
  position: relative;
  padding-bottom: 1.5em;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
    height: 5px;
    background-color: $pink;
  }
}
img {
  width: 100%;
}
