h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body,
p,
span,
a,
pre,
strong,
li,
em {
  font-family: "Chivo", Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  font-weight: 400;
}

.btn {
  font-family: "Chivo";
  font-weight: 700;
}
